.odd {
    background: rgb(255, 192, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.odd.three {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: greenyellow;
    font-weight: bold;
    font-size: 24px;
}
