* {
  margin: 0px auto;
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  padding: 12px;
  margin-top: 16px;
}

.title {
  background: #e3f4ff;
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  color: black;
  padding: 12px;
  margin-bottom: 12px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 12px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}